h2 {
    color:darkviolet;
    font-style:italic;
    text-align: center;
}

p{
    color:blue;
    text-align: center;
}
button{
    color: rgb(62, 43, 131);
    text-align: center;
}

div {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
  text-align: center;
}
.massage{
  color:green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.massage.error{
  color: red;
}